@import "tailwindcss";


.text-dmsans {
  font-family: var(--font-dm-sans), Arial, sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
}

.font-dmsans {
  font-family: var(--font-dm-sans), Arial, sans-serif;
}

.tool_chip {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;

  padding: 0.36rem 0.65rem;
  border-radius: 0.488rem;

  background-color: #f4f4f1;
  color: #333;

  font-size: 1rem;
  font-weight:lighter;
  font-family: var(--font-dm-sans), Arial, sans-serif;
  line-height: 1;

  white-space: nowrap; /* prevents text breaking */

  transition: 0.15s ease-out;
}

.tool_chip:hover {
  opacity: 0.9;
  transform: translateY(-1px);
  background-color: #f7ff9e;
}


.custom-scrollbar::-webkit-scrollbar {
					width: 6px;
				}
				.custom-scrollbar::-webkit-scrollbar-track {
					background: rgba(255, 255, 255, 0.03);
					border-radius: 10px;
				}
				.custom-scrollbar::-webkit-scrollbar-thumb {
					background: rgba(223, 255, 79, 0.3);
					border-radius: 10px;
					transition: background 0.2s;
				}
				.custom-scrollbar::-webkit-scrollbar-thumb:hover {
					background: rgba(223, 255, 79, 0.5);
				}

/* Customizes the React Flow animated edge stroke */
.react-flow__edge-path {
    stroke-linecap: round;
}
